<app-top-bar></app-top-bar>

<button id="logout" *ngIf="isCurrentUser" (click)="logout()">
  <mat-icon>exit_to_app</mat-icon>
</button>

<div class="aboutUser">
  <div>
    <h2 id="username">{{user.username}}</h2>
    <button *ngIf="isCurrentUser"  id="edit" (click)="edit()">
      <mat-icon *ngIf="!isEditable">create</mat-icon>
      <mat-icon *ngIf="isEditable">done</mat-icon>
    </button>
  </div>
  <div id="profileBody">
    <app-profile-pic [id]=id [picURL]=user.profilePic [isEditable]=isEditable (user)="onPicChange($event)"></app-profile-pic>  
    <div id="bio-section">
      <p id="bio">{{user.bio}}</p>
      <button mat-raised-button class="chatButton" (click)="openChat($event)" *ngIf="!isCurrentUser && loggedIn">Chat</button>
    </div>
    
  </div>
</div>
<app-gallery [isCurrentUser]=isCurrentUser [routeID]=id></app-gallery>
