#bio{
  font-size: 1.5vw;
  width: 90%;
  height: 90%;
  padding: 12%;
  align-self: stretch;
  line-height: 1.5vw;
}

#profilePic{
  width: 100%;
  margin: auto;
  border-radius: 100%;
}

#profilePic:hover{
  opacity: 0.5;
}

.aboutUser{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  clear: both;
  margin-bottom: 5%;
}

#profileBody{
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  left: 30%;
  right: 30%;
}

h2{
  color: #606060;
}

button {
  background-color: transparent;
  border: none;
  opacity: 0.75;
  margin: 1%;
}

button:hover{
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 
  0 4px 2px rgba(0, 0, 0, 0.09), 
  0 8px 4px rgba(0, 0, 0, 0.09), 
  0 16px 8px rgba(0, 0, 0, 0.09), 
  0 32px 16px rgba(0, 0, 0, 0.09);
  background-color: white;
}

#bio-section {
  justify-self: stretch;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 10%;
}
.chatButton{
  align-self: end;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: white;
  margin-top: 15px;
  color: #606060;
  transition: all 0.2s ease-in-out;
  border: none; /* Green */
  margin-bottom: 10%;
}

.chatButton:hover{
  color: 	#000000;
  box-shadow: 0 5px 15px 	#000000;
  border: none;
}

#edit{
  float:right;
}

#logout {
  float:right;
}
