
<mat-list>
    <h1 mat-subheader>Chatroom with <a href="/profile/{{otherUser.id}}" class="user-link">{{otherUser.username}}</a></h1>
    <mat-list-item *ngFor="let message of messages; last as last">
        <h4 mat-line>{{ getSenderUsername(message) }}</h4>
        <p mat-line>{{message.body}}</p>
        <button *ngIf="message.sender_id == user.id" (click)="deleteMessage(message.id)">Delete</button>
        <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>
<div class="message">
  <input matInput class="message-box" autocomplete="off" #inputbox (keyup.enter)="sendMessage(inputbox.value);inputbox.value='' " placeholder="Enter message">
  <button mat-icon-button aria-label="Send" (click)="sendMessage(inputbox.value);inputbox.value=''">
    <mat-icon>send</mat-icon>
  </button>
</div>
