.logo{
  margin: auto;
}

button{
  padding: 3%;
  font-size: 18px;
  background-color: white;
  color: #606060;
  transition: all 0.2s ease-in-out;
  border-style: hidden;
  text-align: center;
}

button:hover{
  color: #000000;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

.search-bar{
  display: grid;
  grid-template-columns: auto auto auto;
}

.top-bar{
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
  display: grid;
}