.logo{
  margin: auto;
}

button{
  padding: 0px;
  margin-top:3%;
  margin-bottom: 3%;
  font-size: 18px;
  background-color: white;
  color: #31e98c;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  border-style: hidden;
  text-align: center;
}

button:hover{
  color: #43fbff;
}

.search-bar{
  display: grid;
  grid-template-columns: auto auto auto;
}

.top-bar{
  box-shadow: 0 2px 1px #31e98c,
  0 4px 2px #60d198,
  0 8px 4px #82b89d;
  display: grid;
}