.square-gallery {
  margin-top:35%;
  --items: 3;
  --width: 50vw;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  background: white;
  width: var(--width);
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  }
  
.square-item {
  display: flex;
  justify-content: center;
  width: calc(var(--width) / var(--items));
  height: calc(var(--width) / var(--items)); /* To keep it square*/  
  background-color: #ff82a9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  transition: all 0.2s ease-out;
  }

.square-item:hover{
  opacity:1;
}

h2{
  color: #31e98c;
  margin-left: 23%;
  margin-top: 5%;
}

.list-gallery{
  margin-top:35%;
  --items: 1;
  --width: 50vw;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  background: white;
  width: var(--width);
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.gridList{
  width: 50%;
  margin-left: 25%;
  background-color: white;
  border: none;
  margin-bottom: 1%;
  opacity: 0.5;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
  0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
  0 32px 16px rgba(0, 0, 0, 0.09);
}

.gridList:hover{
  opacity: 0.75;
}

.img-space{
  width: 40%;
  margin-left: 30%;
}

.img-space img {
  width:100%;
}

.img-space button{
  margin: auto;
  font-size: 20px;
  background-color: white;
  color: #31e98c;
  border: 2px solid #31e98c; /* Green */
  border-radius: 8px;
}
