<button class="gridList" (click)="changeOutput()" id="gridList">
  <img id="img" src="../../assets/icons/check_box_outline_blank-24px.svg">
</button>

<div class="square-gallery" id="gallery">
  <img class="square-item" src="../../assets/_mock_gallery/1.jpeg">
  <img class="square-item" src="../../assets/_mock_gallery/2.jpeg">
  <img class="square-item" src="../../assets/_mock_gallery/3.jpeg">
  <img class="square-item" src="../../assets/_mock_gallery/4.jpeg">
  <img class="square-item" src="../../assets/_mock_gallery/5.jpeg">
  <img class="square-item" src="../../assets/_mock_gallery/6.jpg">
  <img class="square-item" src="../../assets/_mock_gallery/7.jpeg">  
  <img class="square-item" src="../../assets/_mock_gallery/8.jpg">
</div>