
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="gallery"
  data-link="https://photos.app.goo.gl/qDtP6E4XAE3ebc3HA"
  data-title="ChosenOne"
  data-description="8 new photos added to shared album">
  <object data="https://lh3.googleusercontent.com/RZpQj2bT2noXusZNaB5C6UlTCqeVBfWHx0BPE6xra_yVr_fKdbPjvrfi1SMsyfnhSwHFsu52x3brTzGH7UEdiXQwqxG-CfqVG8lrK8s8wpsK0ASY2kQW5DC6KS4g6J18a73zwSfavg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/wvbnIv22pExs82pFdNMa_x5ywtnvjce4rLE5oos0mIn5UYgDtU9sUMUcWNPSe-LsZcpBDEzfkbp3TKLycfSaolfw_MC6qWTnLIvpYYYSKRzP4VidjA_XAlty1Na9iSrsWxVdqamKjg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/BO0WYHqK8iLxLJQ-lXu1VYYUqRPYBcDvN-VdZA3cAAVpE4tnjIjBwy6nYQb-ARwja8V5BRh7tnwcEtL--ATl-ss9V-M4xL_n8rl7qevD5-aE2pOGZdaHfFYzOCQB_MuK6PBzA4vIRw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/8dS7IOE3pfgZPT0M0193E2fmDYbzfQfZoGM-Imy-DvnMKq4G6yekMxoiA1OFtlbHkD5p9RxLZ3Z53483bPUNgQGjBOILpcJyt3XQ5f6QMLQRkkkdmuQYgz6kAZE02A7367hemIgq1Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Pnn8dIjQmHNzfS4HazngBkSTGYbPLh5EzrkH8e9Is-bDLC_sp5QWN3w6kLPbcFz3wSrowacazjpJ1JnPfVnl7mB4u0IA3Lq1cJ6NeaFYTzfzwMVpdpoVxBYwdCxYaD0WzmYhAOlAEg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/hEhJcPLPv7JjZqfFI2jjxfvHroYmx0hYh83iiT8FzzNvNIY8OrMu2-6d5tN9RqMfzJISnlIvvcPevvmbvHHE7mpytI_FVR5LtXuLzQZK9O3OzWFhtOPBLZTQmwGQghN8BoSgoBk5DA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jlVqguYEUjRuj3F7Kmn513SPd_Fypyf5wvwhug5y4jmuhOAmF7aafgliPN3-_QABgrkWb4TnZDp_0pEQj-80GEk3ssqvuVAg-JlVs98jQyKgKxCvgCmhOCaCII0T4WsJEy49y_jyww=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/F_tSvaShAp5pzG8uNdRRZiYxImxCQNCdGZN8O53zMQaRbZeSQAn951q8pFJ_4uRy1D3ndGleEq8eUuHtNFdXdmQt7AFNpEVZK_KYXjA_vcyVOGyLxJImRJrNsGmrsa8EDj39-ckzMw=w1920-h1080"></object>
</div>

