#bio{
  font-size: 1.5vw;
  width: 90%;
  padding: 12%;
}

#profilePic{
  width: 100%;
  margin: auto;
  border-radius: 100%;
}

#profilePic:hover{
  opacity: 0.5;
}

.aboutUser{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  clear: both;
  margin-bottom: 5%;
}

#profileBody{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  left: 30%;
  right: 30%;
}

h2{
  color: #31e98c;
}

button {
  background-color: white;
  border: none;
  opacity: 0.75;
  margin: 1%;

}

#edit{
  float:right;
}

#logout {
  float:right;
}
