<app-top-bar></app-top-bar>

<button id="logout" *ngIf="isCurrentUser" (click)="logout()">
  <mat-icon>exit_to_app</mat-icon>
</button>

<div class="aboutUser">
  <div>
    <h2 id="username">{{user.username}}</h2>
    <button *ngIf="isCurrentUser"  id="edit" (click)="edit()">
      <mat-icon>create</mat-icon>
    </button>
  </div>
  <div id="profileBody">
    <app-profile-pic [id]=id [picURL]=user.profilePic [isEditable]=isEditable (user)="onPicChange($event)"></app-profile-pic>  
      <p id="bio">{{user.bio}}</p>
  </div>
</div>
<app-gallery [isCurrentUser]=isCurrentUser [routeID]=id></app-gallery>
