<input style="display: none" type="file" (change)="onFileChange($event)" #fileInput>
<form>
  <div class="form-group">
    <fieldset class="form-group">
      <div class="custom-file fileInputProfileWrap">
        <div class="img-space">         
            <img #profileImg src="{{picURL}}" (click)="fileInput.click()">
            <button *ngIf="!isImageSaved" (click)="() => { fileInput.click() }">
              Add image
            </button>
        </div>
      </div>
    </fieldset>
  </div>
  <button (click)="removeImage()" *ngIf="isImageSaved">Remove</button>
  <button (click)="onUpload()" *ngIf="isImageSaved">Upload</button>
</form>


