.match .profile-pic {
    object-fit: cover;
    width: 100px;
    height: 100px;
    clip-path: circle();
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    background-color: white;
    margin-top: 15px;
    color: #31e98c;
    transition: all 0.2s ease-in-out;
    border: 2px solid #31e98c; /* Green */
    border-radius: 8px;
    margin-bottom: 10%;
}

button:hover{
    color: #43fbff;
    box-shadow: 0 5px 15px #43fbff;
    border: 2px solid #43fbff;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
}

.match {
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 150px;
    margin: 10px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.match:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15), 0 4px 2px rgba(0, 0, 0, 0.15),
    0 8px 4px rgba(0, 0, 0, 0.15), 0 16px 8px rgba(0, 0, 0, 0.15),
    0 32px 16px rgba(0, 0, 0, 0.15);
}

div {
    height: 70%;
}
