<input style="display: none" type="file" (change)="onFileChange($event)" #fileInput>
<p #errorMessage class="img-space">{{errorMsg}}</p>
<button *ngIf="isCurrentUser && !isImageSaved" (click)="fileInput.click()" class="gridList">
  Add image
</button>

<div *ngIf="isImageSaved" class="img-space">
  <button #cancel (click)="removeImage()">Cancel</button>
  <button #upload (click)="addImage()">Upload</button>
  
  <br>
  <img #profileImg src="{{picURL}}">
</div>  

<button class="gridList" (click)="changeOutput()" id="gridList">
  <mat-icon *ngIf="isGrid()">view_stream</mat-icon>
  <mat-icon *ngIf="!isGrid()">view_module</mat-icon>
</button>
<div class="square-gallery" id="gallery">
  <img *ngFor="let image of images" class="square-item" src="{{image}}">
</div>
