<input style="display: none" type="file" (change)="onFileChange($event)" #fileInput>
<p #errorMessage class="img-space">{{errorMsg}}</p>
<div class="button-section" *ngIf="isCurrentUser && !isImageSaved && !canDelete">
  <button (click)="fileInput.click()" class="gridList">
    Add image
  </button>
  <button (click)="allowDelete()" class="gridList">
    Remove image
  </button>
</div>
<div class="button-section" *ngIf="canDelete">
  <button (click)="cancel()" class="gridList">
    Cancel
  </button>
</div>


<div *ngIf="isImageSaved" class="img-space">
  <button mat-raised-button #cancel (click)="removeImage()">Cancel</button>
  <button mat-raised-button #upload (click)="addImage()">Upload</button>  
  <br>
  <img #profileImg src="{{picURL}}">
</div>  

<button class="gridList" (click)="changeOutput()" id="gridList">
  <mat-icon *ngIf="isGrid()">view_stream</mat-icon>
  <mat-icon *ngIf="!isGrid()">view_module</mat-icon>
</button>
<div class="square-gallery" id="gallery">
  <div  *ngIf="!canDelete">
    <img *ngFor="let image of images" class="square-item" src="{{image.imgURL}}">
  </div>
  <div *ngIf="canDelete">
    <img *ngFor="let image of images" class="square-item" src="{{image.imgURL}}" (click)="deleteImage(image)">
  </div>
</div>
